set default=0
set timeout=5

menuentry "Install TruthDB" {
    linux /boot/truthdb/vmlinuz console=tty0 quiet loglevel=3 vt.global_cursor_default=0 rdinit=/init
    initrd /boot/truthdb/initrd.img
}

menuentry "Install TruthDB (dedicated VT)" {
    linux /boot/truthdb/vmlinuz console=tty0 quiet loglevel=3 vt.global_cursor_default=0 rdinit=/init truthdb.ui_vt1=1
    initrd /boot/truthdb/initrd.img
}

menuentry "Install TruthDB (safe graphics)" {
    linux /boot/truthdb/vmlinuz console=tty0 quiet loglevel=3 vt.global_cursor_default=0 nomodeset rdinit=/init
    initrd /boot/truthdb/initrd.img
}

menuentry "Install TruthDB (verbose debug)" {
    linux /boot/truthdb/vmlinuz console=tty0 console=ttyS0,115200 earlycon=efi loglevel=7 rdinit=/init truthdb.debug=1
    initrd /boot/truthdb/initrd.img
}

menuentry "Install TruthDB (serial console)" {
    linux /boot/truthdb/vmlinuz console=ttyS0,115200 loglevel=4 rdinit=/init truthdb.debug=1 truthdb.serial_ui=1
    initrd /boot/truthdb/initrd.img
}

menuentry "Rescue shell" {
    linux /boot/truthdb/vmlinuz console=tty0 loglevel=4 rdinit=/init truthdb.rescue=1
    initrd /boot/truthdb/initrd.img
}
